<nav>
    <a href="#">Home</a>
        {{#if blogger}}
            <a href="./dashboard.hbs">Dashboard</a>
            <a href="./logout.hbs">Logout</a>
            {{else}}
                <a href="./register.hbs">Register</a>
                <a href="./login.hbs">Login</a>
        {{/if}}
    <header>
        <h1>Blog The Man Down</h1>
    </header>
</nav>


<main class="prev-posts" id="dash-posts">
    {{!-- <div class="posting">
        <div class="post-heading">
            <h3 class="post-title">Post Title</h3>
            <p class="post-author">Author</p>
            <p class="post-date">Date</p>
        </div>
            <p class="post-text">This is what I write</p>
        {{#if blogger}}
        <div class="edit-post">
            <button class="update-btn">Update Post</button>
            <button class="delete-btn">Delete Post</button>
        </div>
        {{/if}} --}}
        
        
        {{#if blogger}}
        {{!-- <div class="comment">
            
            <form action="" class="comment">
                <input type="text" class="comment-here">
                <button class="comment-btn">Comment</button>
            </form>
        </div> --}}
        {{/if}}
        
        {{!-- <div class="listed-comments">
            <p class="comment-body">Comment body</p>
            <div class="comment-heading">
                <h4 class="commentor">Commentor</h4>
                <p class="comment-date">Date</p>
            </div>
            <div class="comment-edit">
                <button class="edit-com">Edit Comment</button>
                <button class="del-com">Delete Comment</button>
            </div>

        </div>
    </div> --}}


</main>

{{!-- <section > --}}
        <form action="" id="new-post-box">
            <input type="text" class="blog-title">
            <textarea class="blog-post" placeholder="New Post"></textarea>
            <button class="submit" id="create-post">Create</button>
        </form>
{{!-- </section> --}}





<footer>
    {{#if blogger}}
        <button class="add-btn">Add New Post</button>
        {{else}}
        <p>You're not supposed to be here!</p>

    {{/if}}
</footer>