<nav>
    <a href="#">Home</a>
        {{#if blogger}}
            <a href="./dashboard.hbs">Dashboard</a>
            <a href="./logout.hbs">Logout</a>
            {{else}}
                <a href="./register.hbs">Register</a>
                <a href="./login.hbs">Login</a>
        {{/if}}
    <header>
        <h1>Blog The Man Down</h1>
    </header>
</nav>

<section id="old-posts">
    <div class="posting">
        <div class="post-heading">
        <h3 class="post-title">Post Title</h3>
        <p class="post-author">Author</p>
        <p class="post-date">Date</p>
        </div>
        <p class="post-text">This is what I write</p>
        <div class="listed-comments">
            <div class="comment-heading">
                <p class="comment-body">Comment body</p>
                <h4 class="commentor">Commentor</h4>
                <p class="comment-date">Date</p>
            </div>

        </div>
{{#if blogger}}
        <div class="comment">
            <form action="">
                <input type="text" class="comment-here">
                <button class="comment-btn">Comment</button>
            </form>
        </div>
{{/if}}
    </div>


</section>